{% extends "logbook/logbook.html" %}

{% block title %}Logbook entries{% endblock %}

{% block body %}
<div id=editlinks><a href="{% url 'logbook:entryupdate' entry.id %}">edit</a>&nbsp;<a href="{% url 'logbook:entrydelete' entry.id %}">delete</a>{% if entry.timestamp != entry.changed_timestamp %}<br />&nbsp;{% endif %}</div>
<div id=detail>{{ entry.user }}:{{ entry.group }} (Created: {{ entry.timestamp|timesince }} ago{% if entry.timestamp != entry.changed_timestamp %}<br />Changed: {{ entry.changed_timestamp|timesince }} ago{% endif %})</div>
<div id=entrytext>{{ entry|linebreaks }}</div>
<div id=entrytags>Tags:&nbsp;{% for tag in entry.tag.all %}<a href={% url 'logbook:tag' tag %}>{{ tag }}</a>&nbsp;{% endfor %}</div>
{% endblock %}
