{% extends "logbook/logbook.html" %}

{% block title %}Logbook entries{% endblock %}

{% block body %}
{% if entries %}
{% regroup entries by timestamp|date:"F" as entries_by_month %}
	{% for group in entries_by_month %}
	<h3> {{ group.grouper }}</h4>
	<ul>
		{% for entry in group.list %}
		<li>{{ entry.timestamp}} <a href="{% url 'logbook:detail' entry.id %}">{{ entry.text }}</a>&nbsp;(<a href="{% url 'logbook:user' entry.user %}">{{ entry.user }}</a>:<a href="{% url 'logbook:group' entry.group %}">{{ entry.group }}</a>)</li><br />
	{% endfor %}
	</ul>
	{% endfor %}
{% else %}
	<p>No entries found.</p>
{% endif %}
{% endblock %}
