{% extends "logbook/logbook.html" %}

{% block title %}Logbook entries{% endblock %}

{% block body %}
{{ block.super }}
{% if tag %}
<h3>{{ tag }}&nbsp;(<a href="{% url 'logbook:tagupdate' tag.id %}">edit</a>&nbsp;<a href="{% url 'logbook:tagdelete' tag.id %}">delete</a>)</h3>
{% endif %}
{% if entries %}
	<ul>
	{% for entry in entries %}
	<li>{{ entry.timestamp}} <a href="{% url 'logbook:detail' entry.id %}">{{ entry.text }}</a>&nbsp;(<a href="{% url 'logbook:user' entry.user %}">{{ entry.user }}</a>:<a href="{% url 'logbook:group' entry.group %}">{{ entry.group }}</a>)</li><br />
	{% endfor %}
	</ul>
{% else %}
	<p>No entries found.</p>
{% endif %}
{% endblock %}
