{% extends "layout.html" %}

{% block title %}Logbook entries{% endblock %}

{% block body %}
{% endblock %}

{% block sidebar %}
<h4>Entries</h4>
<h5>Functions</h5>
<ul id=menu>
	<li><a href={% url 'logbook:entrycreate' %}>Add entry</a></li>
</ul>
<h5>Sorting</h5>
<ul id=menu>
	<li><a href={% url 'logbook:index' %}>All entries, sorted by time</a></li>
	<li><a href={% url 'logbook:indexby' 'tag' %}>All entries, grouped by tag</a></li>
	<li><a href={% url 'logbook:indexby' 'user' %}>All entries, grouped by user</a></li>
	<li><a href={% url 'logbook:indexby' 'group' %}>All entries, grouped by group</a></li>
	<li><a href={% url 'logbook:indexby' 'yearsmonth' %}>All entries, grouped by year&amp;month</a></li>
	<li><a href={% url 'logbook:indexby' 'month' %}>This year's entries, grouped by month</a></li>
</ul>
<h5>Filters</h5>
<ul id=menu>
	<li><a href={% url 'logbook:index' %}>All entries</a></li>
	<li><a href={% url 'logbook:indextoday' %}>Today's entries</a></li>
	<li><a href={% url 'logbook:indexyesterday' %}>Yesterday's entries</a></li>
	<li><a href={% url 'logbook:indexweek' %}>Last 7 days' entries</a></li>
	<li><a href={% url 'logbook:indexmonth' %}>This month's entries</a></li>
	<li><a href={% url 'logbook:indexyear' %}>This year's entries</a></li>
</ul>
<hr />
<h4>Tags</h4>
<h5>Functions</h5>
<ul id=menu>
	<li><a href={% url 'logbook:tagcreate' %}>Add tag</a></li>
</ul>
<h5>Tag cloud</h5>
<div id=taglist>
	{% for tag in logbook.tags %}
	<a href="{% url 'logbook:tag' tag %}">{{ tag }}</a> 
	{% endfor %}
</div>
{% endblock %}
